* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(44, 77, 172);
    background: linear-gradient(90deg, rgba(44, 77, 172, 1) 0%, rgba(255, 78, 78, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#timer {
    background-color: #ffffff9c;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    min-width: 400px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.time {
    font-size: 100px;
    color: rgba(255, 78, 78, 1);
    margin-bottom: 20px;
}

#timer button {
    padding: 10px 20px;
    border: 1px solid #fff;
    border: 0 0 10px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    margin: 0 2px;
    cursor: pointer;
    color: #575757;
}