a{
    text-decoration: none;
}
ul{
    padding:0px;
}
li {
    list-style-type: none;
}
img{
    width:400px;
}
.sub_tit {
    color:rgb(156, 156, 156);
}
.tit {
    color: rgb(0, 0, 0);
}
.percent{
    color: #1393E0;
}